body{
    text-align: center;
}
.heading{
    margin-bottom: 20vh;
}
.grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
    /* background-color: #2196F3; */
    padding: 10px;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 416px;
    margin: auto;
    align-items: center;
}
.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    /* font-size: 30px; */
    text-align: center;
}
.red{
      background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
button{
    height: 200px;
    width: 200px;
    border-radius: 10px; 
    border: 5px solid black;
}
@media only screen and (max-width: 500px){
    .grid-container{
        grid-template-columns: 150px 150px;
        width: 314px;
    }
    button{
        height: 150px;
        width: 150px;
    }
}
